<span id="new_lesson" data-mercury="full">
<div class="row-fluid">
  <div class="span12 pagination-centered">
    <div class="span3">
    </div>
    <div class="span6"> 
      <table class="table table-bordered" style="border-radius:(5px)" width=60%>
        <tr>
          <td>
            <table class="table" style="border-left: none">
              <tr>
                <td style="border-left: none" colspan=2>
                  <center><big>Name of Class</big><br><br></center>
                </td>
              </tr>
              <tr>
                <td style="border-left: none" width=50%>
                  <small><strong>Overview:</strong><br>
                  Here is your overview</small>
                  <br><br><br><br><br>
                  <small><br><strong>Objectives:</strong><br>
                  At the end of the day, students will be able to...
                  <br>
                  <li>Creating a Rails application</li>
                <li> Using Bundler and editing Gemfiles</li>
                <li>Writing and executing Ruby code from the console</li>
                <li>Using generators to create a model and a scaffold</li>
                <li>Understanding REST and how it applies to Rails</li>
                <li>Understanding the Organization of a Rails Project</li>
                  </small>

                </td>
                <td width=50% style="padding-left:15px"><br>
                  <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <center>
                  </center>

                  </div>
                  <!-- Carousel nav -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
                <small><strong>Previous instructors:</strong><br>
                            Pascal Rettig, Founder of Cykod
                            &nbsp;
                            <a href=""><i class="icon-envelope-alt"></i></a> 
                            &nbsp; 
                            <a href=""><i class="icon-linkedin"></i></a> 
                            &nbsp; 
                            <a href=""><i class="icon-twitter"></i></a></small>
                            <br><br>
                            <small><strong>Real World Tools Students Learned:</strong><br>
                        by the end of this lesson, students will have started building a website for their own startup idea.</small>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <table class="table table-bordered" style="border-radius:(5px)" width=60%>
        <tr>
          <td>
            <table class="table" style=" border-right:none">
              <tr>
                <td style="border-left: none" colspan=2>
                    <center><big>Lesson Planning Materials</big></center><br>
                </td>
              </tr>
              <tr>
                <td style="border-left: none" width=50%>
                  <small><strong>Lesson Skeleton:</strong><br>
                  Past iterations of the class broken down into 30 minutes chunks.</small>

                  <br><br>
                  <div class="span11 pagination-centered">
                    <table class="table table-bordered table-hover">
                      <thead style="border-width:0px">
                        <tr>
                          <td width="40%">
                            <small><strong><center>Time</center></strong></small>
                          </td>
                          <td width="60%" style="border-left:none">
                            <small><strong><center>Activity</center></strong></small>
                          </td>
                        </tr>
                        
                      </thead>
                      <tbody>
                        <tr>
                          <td width="40%">
                            <small> 9:00 - 9:30 am </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 9:30 - 10:00 am </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 10:00 - 10:30 am </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 10:30 - 11:00 am </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 11:00 - 11:30 am </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 11:30 - 12:00 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 12:00 - 12:30 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 12:30 - 1:00 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 1:00 - 1:30 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 1:30 - 2:00 PM </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 2:00 - 2:30 PM</small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 2:30 - 3:00 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 3:00 - 3:30 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 3:30 - 4:00 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 4:00 - 4:30 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        <tr>
                          <td width="40%">
                            <small> 4:30 - 5:00 pm </small>
                          </td>
                          <td width="60%" style="border-left:none">

                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>

                </td>
                <td width=50% style="padding-left:15px">
                    <small><strong>Downloads:</strong><br>
                    Download the lesson planning documents used by the previous instructor(s).</small>

                    <br><br>
                    <small><strong>Examples of student work:</strong></small>
                    <br>
                    <small>Download examples of past student work from this class.</small>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</span>