<li id="period_li_<%= period.id %>">
  Period: <%= period.to_s %> | 
  <%= link_to "add activity", new_admin_period_activity_path(period), 
    id: "period_#{period.id}", remote: true %>
  <ul>
    <%= render period.activities %>
  </ul>  
</li>