<h1>Welcome to Boston Startup School</h1>

<h3>Your password is <%= @password %> and your account 
will stay active for 1 week.</h3>

<p>Please <%= link_to "Sign In", sign_in_url %>.  BSS thanks you for
your participation</p>
