<%= link_to "Manage Tracks", '#' %><br>
<%= link_to "Manage Lessons", admin_lessons_path %><br>

<%#= link_to "Add a day", '#', id: "add_day" %><br>

<%#= simple_form_for admin_lesson_days_path(LessonDay.new), 
  html: { id: "new_day" }, remote: true do |f| %>
  <%#= f.hidden_field :semester_id, value: @semester.id %>
  <%#= f.input :day_value %>
  <%#= f.button :submit %>
<%# end %>
<table class="table table-bordered">
  <thead>
    <th>Day</th>
    <th>Development</th>
    <th>Product</th>
    <th>Sales</th>
    <th>Marketing</th>
  </thead>
  <%= build_admin_table_body(@semester, 25) %>
</table>

