<h1><%= link_to "Edit #{@lesson.summary}", '/editor' + request.path, 
  id: "edit_link", data: { save_url: mercury_update_admin_lesson_path(@lesson) } %></h1>


<span id="new_lesson" data-mercury="full">
<%= raw @lesson.description %>

</span>