<div class="span12">
  <div class="row-fluid">
    <div class="span4">
      <div class="hero-unit"><h1>asdf</h1></div>
    </div>
    <div class="span7">
      <div class="hero-unit"><h1>Portal for signing up for classes</h1></div>
    </div>
  </div>
  <div class="row-fluid">
    <% @tracks.each do |track| %>
      <div class="span3">
        <h2><%= track.name %></h2>
        <ul class="classes">
          <% track.ordered_days.each do |lesson| %>
            <li>Day: <%= lesson.day_value %> 
             | <%= link_to lesson.summary, lesson %>
            </li>
          <% end %>
        </ul> 
      </div>
    <% end %>
  </div>
</div>



