<h1><%= link_to "Edit #{@lesson.summary}", '/editor/admin/lessons/' + @lesson.id.to_s, 
  id: "edit_link", data: { save_url: mercury_update_admin_lesson_path(@lesson) } if 
    admin_signed_in? %></h1>

<%= raw @lesson.description %>