<h1><%= link_to "Edit #{@lesson.summary}", '/editor/admin/semesters/' + @semester.id.to_s + '/lessons/' + @lesson.id.to_s, 
  id: "edit_link" if user_signed_in? %></h1>

<%= raw @lesson.description %>