// body {
//   background: #046380;
//   color: #EFECCA;

//   a, a:hover {
//     color: #EFECCA;
//   }
// }

#main-table {
  th {
    width: 21%;
    .table-day {
      width: 16%;
    }
  }
  tr {
    width: 21%;
    .table-day {
      width: 16%;
    }
  }
}


// .navbar {
//   color: #EFECCA;
//   .nav > li > a {
//     color: #EFECCA;
//   }
// }


// .navbar-inner {
//   background: #002F2F;
//   border: 0px;
//   .brand {
//     color: #EFECCA;
//   }
// }

li {
  list-style: none;
}


// .row-fluid {
//   .span3 {
//     background: #E6E2AF;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     border-radius: 3px;
//     min-height: 200px;
//     color: #002F2F;
//     // a, a:hover {
//     //   color: #002F2F;
//     // }
//     h2 { 
//       text-align: center;
//       border-bottom: 1px solid black;
//       background: #002F2F;
//       color: #EFECCA;
//     }
//     li {
//       list-style: none;
//     }
//   }
// }

.hero-unit {
  text-align: center;
  // background: #A7A37E;
}

.modal {
  color: black;
}

.border {
  border: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.span3 {
  img {
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 80px;
    width: 181px;
  }
}

.border-right {
  border-right: 2px dotted black;
}