<li id="image_<%= image.id %>"><%= image_tag image.picture.url(:large) %>
<%= link_to "delete", [:admin, image.lesson_template, image], 
  method: :delete, confirm: "Are you sure?", remote: true %>
</li>