<h1>
  <%= @user.name %><br>
  <%= @user.email %><br>
  <%= @user.company %>
</h1>

<p>Placeholder info about classes they're signed up to potentially teach,
ones they have accepted.  Create links to company and potentially some stuff
to do with account management.  Maybe soft delete?</p>

